# Python
__pycache__/
venv/
*.pyc

# Flask specific
feedback.csv

# Miscellaneous
*.log
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE related
*.iml
*.ipr
*.iws
.idea/
